<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- Отключение экранирования, чтобы не выводились html теги вместо видео -->
{% autoescape off %}
Category:
{{ announce.category|safe }}
Announce:
{{ announce.text }}
{% endautoescape %}
<!--TODO сделать кнопку доступной только пользователю и только если он не откликнулся-->
{% if not responses %}
<p class="test-center" ><a href="{% url 'response' announce.id %}" class="btn btn-primary btn-lg">Откликнуться</a></p>
{% else %}
Вы откликнулись на объявление
<p class="test-center" ><a href="{% url 'remove_response' announce.id %}" class="btn btn-primary btn-lg">Убрать отклик</a></p>
{% endif %}

</body>
</html>